[submodule "services/team-hub-auth"]
	path = services/team-hub-auth
	url = https://github.com/Mitrivxxx/team-hub-auth.git
[submodule "services/team-hub-gateway"]
	path = services/team-hub-gateway
	url = https://github.com/Mitrivxxx/team-hub-gateway.git
[submodule "frontend/team-hub-web"]
	path = frontend/team-hub-web
	url = https://github.com/Mitrivxxx/team-hub-web.git
