[submodule "services/team-hub-auth"]
	path = services/team-hub-auth
	url = https://github.com/Mitrivxxx/team-hub-auth.git
[submodule "services/team-hub-gateway"]
	path = services/team-hub-gateway
	url = https://github.com/Mitrivxxx/team-hub-gateway.git
[submodule "frontend/team-hub-web"]
	path = frontend/team-hub-web
	url = https://github.com/Mitrivxxx/team-hub-web.git
[submodule "services/team-hub-organization"]
	path = services/team-hub-organization
	url = https://github.com/Mitrivxxx/team-hub-organization.git
[submodule "services/team-hub-notification"]
	path = services/team-hub-notification
	url = https://github.com/Mitrivxxx/team-hub-notification.git
[submodule "services/team-hub-chat"]
	path = services/team-hub-chat
	url = https://github.com/Mitrivxxx/team-hub-chat.git
