GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

GRAFANA_PORT=3000
LOKI_PORT=3100
TEMPO_PORT=3200
PROMETHEUS_PORT=9090
OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318

GRAFANA_CONTAINER_NAME=team-hub-grafana
LOKI_CONTAINER_NAME=team-hub-loki
TEMPO_CONTAINER_NAME=team-hub-tempo
PROMETHEUS_CONTAINER_NAME=team-hub-prometheus
OTEL_COLLECTOR_CONTAINER_NAME=team-hub-otel-collector
