GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME

GRAFANA_PORT=3000
LOKI_PORT=3100
TEMPO_PORT=3200
PROMETHEUS_PORT=9090
OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318

GRAFANA_CONTAINER_NAME=mon-grafana
LOKI_CONTAINER_NAME=mon-loki
TEMPO_CONTAINER_NAME=mon-tempo
PROMETHEUS_CONTAINER_NAME=mon-prometheus
OTEL_COLLECTOR_CONTAINER_NAME=mon-otel
NGINX_EXPORTER_CONTAINER_NAME=mon-nginx-exporter
NGINX_EXPORTER_PORT=9113
